<!--head-->
<%- include ../_partial/head.ejs %>

<body>
<!--header-->
<%- include ../_partial/header.ejs %>
<main>
  <!--insert modal for fab btn-->
  <%- include ../_partial/modal_signin-up.ejs %>
  <div class="container">
    <%- include ../_partial/fixed-fab.ejs %>
    <!-- Page Content goes here -->
    <%- body %>
  </div>
</main>
<%- include ../_partial/footer.ejs  %>
<%- include ../_partial/import_js.ejs %>
</body>
<!-- <html> in head.ejs-->
</html>