<!--head-->
<%- include ../_partial/head.ejs %>
<body>
<!--header-->
<%- include ../_partial/header.ejs %>

<main>
  <!--insert modal for fab btn-->
  <%- include ../_partial/modal1.ejs %>
  <div class="container">
    <!-- Page Content goes here -->
    <%- body %>
  </div>
</main>

<%- include ../_partial/import-js.ejs %>

</body>
<!-- <html> in head.ejs-->
</html>