<!--drawerlayout-->
<ul id="mobile-nav" class="side-nav">
  <li>
    <div class="userView">
      <div id="user-bg" class="background">
        <!--<img id="user-bg" src="images/bg.jpg">-->
      </div>
      <a class="demo_link"><img class="circle demo_link" src="images/user-default.png"></a>
      <a class="demo_link"><span class="white-text name"><%= user.name %></span></a>
      <a class="demo_link"><span class="white-text email"><%= user.email %></span></a>
    </div>
  </li>
  <!--login begin-->
  <li><a class="waves-effect" href="#modal1"><i class="material-icons">add</i>注册 / 登录</a></li>
  <li>
    <div class="divider"></div>
  </li>
  <!--login end-->
  <li><a class="waves-effect index_auth" ><i class="material-icons">home</i>首页</a></li>
  <li><a class="waves-effect warning_auth"><i class="material-icons md-dark">domain</i>疫情预警</a></li>
  <li><a class="waves-effect training_auth"><i class="material-icons md-dark">attachment</i>训练管理</a></li>
  <li><a class="waves-effect diagnosis_auth"><i class="material-icons md-dark">add_alert</i>智能导诊</a></li>
  <li><a class="waves-effect health_auth"><i class="material-icons md-dark">accessibility</i>心理健康</a></li>

  <li>
    <div class="divider"></div>
  </li>
  <li><a class="subheader">Subheader</a></li>

  <li>
    <ul class="collapsible collapsible-accordion">
      <li>
        <a class="collapsible-header"><i class="material-icons md-dark">chat</i>First</a>
        <div class="collapsible-body">
          <ul>
            <% for (let i = 0; i < 4; i++){ %>
            <li><a href="#">Chat <%= i + 1 %></a></li>
            <% } %>
          </ul>
        </div>
      </li>
      <li>
        <a class="collapsible-header"><i class="material-icons">place</i>Second</a>
        <div class="collapsible-body">
          <ul>
            <% for ( let i = 0; i < 5;i++){ %>
            <li><a href="#">Place <%= i %></a></li>
            <% } %>
          </ul>
        </div>
      </li>
      <li>
        <a class="collapsible-header"><i class="material-icons">whatshot</i>Third</a>
        <div class="collapsible-body">
          <ul>
            <% for (let i = 0; i < 5;i++) { %>
            <li><a href="#">Shot <%= i %></a></li>
            <% } %>
          </ul>
        </div>
      </li>
    </ul>
  </li>
  <li><a class="waves-effect" href="/about"><i class="material-icons">info</i>About</a></li>

</ul>
<!-- end of drawer -->